@font-face {
  font-family: Pipboy;
  src: url("../monofonto/monofonto.ttf");
}

body {
  font-family: Pipboy, sans-serif;
  color: #14fe17;
  background-color: #272b23;
}

body::after {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4) 1px,
    transparent 1px,
    transparent 3px
  );
  opacity: 0.7;
  z-index: 1000000;
  pointer-events: none;
}

.navbar {
  border-bottom: 2px solid;
  margin: 0 10px;
}

.navbar::before,
.navbar::after {
  height: 7px;
  width: 2px;
  content: "";
  position: absolute;
  display: block;
  z-index: 5000;
  background-color: #14fe17;
  bottom: -8px;
}

.navbar::before {
  left: 0;
}

.navbar::after {
  right: 0;
}

.navbar-light ul.navbar-nav > li {
  display: block;
  position: relative;
  width: 100%;
}

.navbar-light .nav-item > .nav-link {
  text-align: center;
  width: 50%;
  margin: auto;
}

.navbar-nav {
  width: 100%;
}

.bg-light {
  background-color: #272b23 !important;
}

ul > li.nav-item > a.nav-link {
  color: #14fe17 !important;
}
.center-image img {
  margin: auto;
  display: block;
  position: relative;
  max-height: 300px;
  margin-top: 100px;
  filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1)
    contrast(2);
}
.pip-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 10px;
}
.row {
  width: 100%;
}
